name: ci
on:
  push:
  pull_request:
  
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        racket-version: [ '7.9', '8.0' ]
    name: Build with Racket ${{ matrix.racket-version }}
    steps:
      - uses: actions/checkout@master
      - name: Setup Racket
        uses: Bogdanp/setup-racket@v1.1
        with:
          architecture: x64
          version: ${{ matrix.racket-version }}
      - run: raco pkg install --deps search-auto
      - run: raco setup racket-cord
      - run: raco test -t -p racket-cord
